@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskMedium500.woff2") format("woff2"),
    url("/fonts/MoskMedium500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskExtra-Light200.woff2") format("woff2"),
    url("/fonts/MoskExtra-Light200.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskBold700.woff2") format("woff2"),
    url("/fonts/MoskBold700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskUltra-Bold900.woff2") format("woff2"),
    url("/fonts/MoskUltra-Bold900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskLight300.woff2") format("woff2"),
    url("/fonts/MoskLight300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskSemi-Bold600.woff2") format("woff2"),
    url("/fonts/MoskSemi-Bold600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskThin100.woff2") format("woff2"),
    url("/fonts/MoskThin100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskExtra-Bold800.woff2") format("woff2"),
    url("/fonts/MoskExtra-Bold800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/MoskNormal400.woff2") format("woff2"),
    url("/fonts/MoskNormal400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BoxIcons";
  src: url("https://cdn.jsdelivr.net/npm/boxicons@2.0.5/fonts/boxicons.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/boxicons@2.0.5/fonts/boxicons.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.hljs {
  padding: 32px !important;
  box-sizing: border-box;
  background-color: #f5f5f7 !important;
  border-radius: 8px;
}

@media (min-width: 860px) {
  .hljs {
    width: calc(100% + 64px);
    position: relative;
    margin-left: -32px;
  }
}

@media (min-width: 924px) {
  .hljs {
    width: calc(100% + 128px);
    position: relative;
    margin-left: -64px;
  }
}

.katex {
  font-size: 1.03em !important;
}

blockquote {
  margin: 0.5em 0.7em;
  padding: 0 1.4em;
  border-left: 2px solid #929da6;
  color: #657786;
  font-style: italic;
  font-family: "PT Serif", serif;
  font-size: 0.94em;
}
